<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" charset="utf-8" name="viewport" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="icon" href="/favicon2.png" type="image/x-icon"/>
    <title>reviewer2</title>
</head>
<body style="overflow-x: scroll">
    <div class="ui stackable grid">
        <div class="row">
            <div class="one wide column"></div>
            <div class="one wide column">
                <br />
                For review: <br />
                <table class='ui stackable table' style='border: none'>
                    {% for page_number, dirname, filenames in table_rows %}
                        <tr>
                            <td style="width: 1%">{{ page_number }}.</td>
                            <td style="width: 1%; padding-right: 100px;">
                                <a href="{{ get_image_page_url(page_number, table_rows | length) }}">{{dirname}}</a>
                            </td>
                            {% if add_num_images_column %}
                                <td style="width: 1%">{{ filenames | length }} images</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
